.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    min-height: 80vh;
    background-color: #1e1e1e;
    margin: 6em -2rem -2rem -2rem;
    height: 100%;
}

.footerAvatar {
    border-radius: 100%;
    width: 148px;
    height: 148px;
    background-color: #fffff0;
    margin-bottom: 2rem;
}

.footerPerson {
    font-size: 32px;
}

.footerLocation {
    font-size: 24px;
}

.hDivider {
    background-color: #ffffff;
    height: 1px;
    width: 100%;
    opacity: 0.1;
}

.footerInfo {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footerProfile {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footerContact {
    min-height: 10rem;
}

.footerContact h1 {
    font-size: 48px;
    margin-bottom: 2rem;
}

.footerCopyright {
    margin-bottom: -4rem;
    opacity: 0.3;
    justify-content: center;
    width: 100%;
    display: flex;
    flex: 1;
    max-height: 50px;
}

.button {
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 15px;
    background-color: #fffff0;
    color: #1e1e1e;
}

.vDivider {
    width: 1px;
    background-color: #ffffff;
    height: 24px;
    margin-inline: 12px;
}

.footerLinks {
    display: flex;
    gap: 2rem;
}

.footerLinks ul {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    width: 100%;
}

.footerLinks ul li:first-child {
    font-weight: 600;
    font-size: 24px;
    width: 100%;
    margin-bottom: 16px;
}

.footerLinks li {
    width: 100%;
}

.footerFinal {
    display: flex;
    justify-content: space-between;
}

.footerLinks a {
    display: flex;
    color: #fffff0;
    width: 100%;
    padding: 8px 12px;
    transition: all ease 200ms;
    font-weight: 500;
}

.footerLinks a:hover {
    background-color: #fffff0;
    color: #1e1e1e;
}
