section.infocard {
    margin-top: 200px;
    padding-inline: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
}

.infocard h1 {
    color: #fff;
    font-family: "Space Grotesk";
    font-size: 120px;
    font-style: normal;
    font-weight: 300;
    line-height: 80%; /* 96px */
    letter-spacing: -3.6px;
    text-transform: uppercase;
}

.infocard > p.infoBio {
    margin-top: 80px;
    max-width: 533px;

    color: #fff;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.infoContact {
    gap: 16px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff !important;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.infoContact svg {
    width: 12px;
    height: 12px;

    stroke-width: 2px;
    stroke: #fff;
}
