nav {
    width: 100%;
    color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-weight: 600;
}

nav a {
    transition: all ease 200ms;
    border-radius: 15px;
    padding: 8px 16px;
    color: #1e1e1e;
}

nav div.navContent {
    color: #1e1e1e;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    background-color: #1e1e1e;
    color: #fffff0;
}
