nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
}

nav p {
    position: relative;
    cursor: pointer;
    transition: all ease 200ms;
    border-radius: 15px;
    color: #fff;
}

nav div.navContent {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav p::after {
    content: "";
    position: absolute;

    background-color: #ffffff;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: all ease-in 200ms;
}

nav p:hover::after {
    width: 100%;
}

nav div a {
    cursor: pointer;
}
