section.projectsSection {
    margin-top: 200px;
    width: 100%;
}

.projectContainer {
    width: 100%;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: scroll 0.3s ease-in-out;
    padding-right: 50px;
}

.projectContainer:first-child {
    padding-left: 50px;
}

.projects {
    width: 100%;
}

.test {
    background-color: red;
    height: 100%;
    width: 50px;
}

.projectImage {
    display: inline-block;
    background: rgba(255, 255, 255, 0.05);
    aspect-ratio: 1.86/1;
    width: 80vw;
    height: auto;

    background-size: 80vw;
    background-repeat: no-repeat;
    background-position: center center;
}

.projectPreview {
    background: rgba(255, 255, 255, 0.1);
    aspect-ratio: 1.86/1;
    width: 80vw;
    height: auto;
}

.projectDetails {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.projectDetails p {
    max-width: 548px;
    text-align: left;
}

.projectDesc {
    padding-top: 60px;
    padding-left: 50px;

    padding-right: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.projectDesc h1 {
    color: #fff;
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.projectDesc p {
    max-width: 548px;

    color: #fff;
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

svg > g {
    cursor: pointer;
}
