section.projects {
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.projectCard {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 24px 48px;
    border-radius: 15px;
    background-color: #1e1e1e;
    width: 100%;
}

.projectImage {
    height: 90%;
    background-color: #1b1b1b;
    position: relative;
}

.projectImage ul {
    list-style: none;
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 32px;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.projectImage ul li {
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: #fffff0;
    opacity: 0.2;
}

.projectActive {
    opacity: 1 !important;
}

.projectSlide {
    display: flex;
    gap: 10px;
}

.projectHeader {
    display: flex;
    justify-content: space-between;
}
